*{
   font-family: 'Oswald', sans-serif;
}
body{
   background: rgb(255,204,0);
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.main-container{
   margin: 0px auto;
}
.main-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px auto;
   width: 600px;
   height: 400px;
   background-color: rgb(255, 255, 255);
   border-radius: 20px;
}
.timer{
   width: 100%;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
}
.timer__items{
   display: flex;
   justify-content: space-around;
}
.main-title{
   font-weight: 700;
   font-size: 36px;
   margin-bottom: 20px;
}
.dates{
   font-weight: 700;
   font-size: 36px;
   margin-top: 20px;
   cursor: pointer;
}
.timer__titels{
   display: flex;
   justify-content: space-around;
}
.timer__titel:nth-child(1){
   padding-left: 13px;
}
.timer__titel:nth-child(2) {
   padding-left: 20px;
}
.timer__titel:nth-child(3) {
   padding-left: 13px;
}
.timer__item{
   font-weight: 700;
   font-size: 48px;
}

@media (max-width: 600px) {
   body{
      display: flex;
   }
   .main-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
      width: 300px;
      height: 500px;
      margin: 30px 40px 0px 40px;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
      padding: 0px 20px;
   }
   .timer{
      height: 100%;
      margin: 0px auto;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;                                       
   }
   .timer__items{
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
   }
   .timer__titels{
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
   }
   .timer__item {
      font-weight: 700;
      font-size: 36px;
   }
   .main-title {
      padding-left: 50px;
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 20px;
   }
}

@media (max-width: 480px){
   .main-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
      width: 260px;
      height: 400px;
      margin: 30px 40px 0px 40px;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
      padding: 0px 20px;
   }
}
/* POPUP */
.popup-wrapper{
   visibility: hidden;
   position: fixed;
   display: flex;
   align-items: center;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   
}
.popup-wrapper-open{
   visibility: visible;
}
.popup-container{
   position: relative;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   align-items: center;
   width: 600px;
   height: 600px;
   margin: 0px auto;
   background: rgb(222, 219, 219);
   border-radius: 30px;
   z-index: 1;
}
.popup-overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 102%;
   background: #000;
   opacity: 0.7;
   z-index: 0;
}


.timers {
   width: 100%;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
}

.timers__items {
   display: flex;
   justify-content: space-around;
}
.timers__titels {
   display: flex;
   justify-content: space-around;
}

.timers__titel:nth-child(1) {
   padding-left: 13px;
}

.timers__titel:nth-child(2) {
   padding-left: 20px;
}

.timers__titel:nth-child(3) {
   padding-left: 13px;
}

.timers__item {
   font-weight: 700;
   font-size: 48px;
}

/* POPUS BUTTON LIST */
.popup-button-wrap {
   width: 400px;
   height: 200px;
   background: rgb(255, 204, 0);
   border-radius: 10px;
}

.popup__list-item{
   cursor: pointer;
}